{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<p>All projects<p/>

{% for project in projects %}
    <p>{{ project.name }}</p>
    <p>{{ project.targetLanguages }}</p>
    <p>{{ project.createdAt|date('Y-m-d H:i:s') }}</p> {# Using the getCreatedAt method and formatting the date #}
{% endfor %}
{% endblock %}
