{% extends 'base.html.twig' %}

{% block title %}Signup - Crowdin
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/camera.css') }}">
	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
<p>test</p>
{% endblock %}